* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Roboto Condensed;
  }

.welcome-body{
    background: url("../assets/signin-background.jpg") no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: soft-light;
}

.login-container{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-left: 5%;
    height: fit-content;
    margin-bottom: 20%;
    border:1px solid grey;
    width: 40%;
    padding:2%;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 1px grey;
}

.welcome-h1{
    margin-top:3%;
    font-size: 3em;
}

.welcome-p{
    font-size: 2em;
    margin: 3%;
    align-self: initial;
}

.login-btn{
    margin-top: 5%;
    width:50%;
    height: 50px;
    font-size: x-large;
    margin-bottom: 2%;
    background-color: lightskyblue;
    border-color: lightskyblue;
    border-radius: 5px;

}

.login-btn:hover{
    background-color: #08b1ff;
    border-color: #08b1ff;
}

.welcome-h4{
    font-size: large;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* sign up button */
#sign-up-button {
    background-color: lightskyblue;
    color: black;
    margin-top: 1%;
    font-size: 20px;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    border: gray;
}

#sign-up-button:hover {
    background-color: #08b1ff;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: #2ebeff;
    text-decoration: none;
    cursor: pointer;
}

/*****Explore page*****/
/* Header */
.top-nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background-color: black;
    color: white;
    padding-left: 3%;
    padding-right: 5%;    
}

.links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.links > li {
    margin-right: 20px;
    cursor: pointer;
}
  
.links > li:hover {
    text-decoration: underline;
}

.username{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.products-container{
    display:flex;
    flex-wrap: wrap;
    margin:1% 5%;
    padding:2%;
    border:3px solid gold;
    border-radius: 20px;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33.333333%;
    margin-top: 2%;
}

.product:hover{
    transform: scale(1.2);
    cursor:pointer;
}

.explore-img{
    width: 200px;
    max-height: 200px;
}

.product-img{
    width: 500px;
    height: 500px;
}

.price{
    font-size: x-large;
}

.title-h1{
    margin:1% 8%;
    font-size: xx-large;
}


input{
    width: 70%;
    font-size: 22px;
    line-height: 2;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.item-container{
    margin: 5% 10%;
    display: flex;
    gap: 3%;
    width: fit-content;
}

.info-container{
    font-size: xx-large;
}

.fa-container{
    margin-top: 20%;
}

.fa-heart:hover{
    color:red;
    cursor: pointer;
}

/* .logout-container{
    /* visibility: hidden;
    height: 30px;
    width: 150px;
    float: right;
}

.username:hover ~ .logout-container{
    display: none;
} */